// =================================================================
//  Show Not Tell
//  Grid
// =================================================================

  // Change the grid settings
  $column: 90px;
  $gutter: 20px;
  $grid-columns: 12;
  $max-width: 1200px;

.grid-container {
  @include outer-container;

  @include mq("medium", "max-width") {
      padding: 0 30px;
      box-sizing: border-box;
  }
}

.grid-show {
  background: $colorLightGreen;
  height: 40px;
  margin: $gutter 0;
}

.col-1 { @include span-columns(1); }
.col-2 { @include span-columns(2); }
.col-3 { @include span-columns(3); }
.col-4 { @include span-columns(4); }
.col-5 { @include span-columns(5); }
.col-6 { @include span-columns(6); }
.col-7 { @include span-columns(7); }
.col-8 { @include span-columns(8); }
.col-9 { @include span-columns(9); }
.col-10 { @include span-columns(10); }
.col-11 { @include span-columns(11); }
.col-12 { @include span-columns(12); }

.shift-1 { @include shift(1); }
.shift-2 { @include shift(2); }
.shift-3 { @include shift(3); }
.shift-4 { @include shift(4); }
.shift-5 { @include shift(5); }
.shift-6 { @include shift(6); }
.shift-7 { @include shift(7); }
.shift-8 { @include shift(8); }
.shift-9 { @include shift(9); }
.shift-10 { @include shift(10); }
.shift-11 { @include shift(11); }