---
title: Collections
color: fg-aqua
---

<article class="collections"> 
  <section class="discover">
    <div class="grid-container">
      <div class="row">
        <div class="col-6">
          <a class="discovery-item">
            <div class="image bg-hot">
              <img data-original="images/2.png" class="lazy">
            </div>
            <div class="statistics-holder">
              <span>24/ 50 Participents</span>
            </div>
            <div class="writing-holder">
              <h4>Junior Doctors Sleep</h4>
              <p>Collecting the sleeping patterns of Junior Doctors</p>
            </div>
          </a>
        </div>
        <div class="col-6">
          <a class="discovery-item">
            <div class="image bg-blue">
              <img data-original="images/2.png" class="lazy">
            </div>
            <div class="statistics-holder">
              <span>24/ 50 Participents</span>
            </div>
            <div class="writing-holder">
              <h4>Junior Doctors Sleep</h4>
              <p>Collecting the sleeping patterns of Junior Doctors</p>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <a class="discovery-item">
          <div class="col-6">
            <div class="image bg-rust">
              <img data-original="images/2.png" class="lazy">
            </div>
            <div class="statistics-holder">
              <span>24/ 50 Participents</span>
            </div>
            <div class="writing-holder">
              <h4>Junior Doctors Sleep</h4>
              <p>Collecting the sleeping patterns of Junior Doctors</p>
            </div>
          </a>
        </div>
        <div class="col-6">
          <a class="discovery-item">
            <div class="image bg-aqua">
              <img data-original="images/2.png" class="lazy">
            </div>
            <div class="statistics-holder">
              <span>24/ 50 Participents</span>
            </div>
            <div class="writing-holder">
              <h4>Junior Doctors Sleep</h4>
              <p>Collecting the sleeping patterns of Junior Doctors</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="suggest" class="form">
    <div class="grid-container">
      <div class="col-6">
          <h2>Got some information you’d like to 
          collect to help with a campaign? 
          Fill in this form.</h2>
      </div>
      <div class="col-6">
        <form accept-charset="UTF-8" action="https://formkeep.com/f/3cb554beb487" method="POST">
        <input type="hidden" name="utf8" value="✓">
        <fieldset>
          <label>Your Name</label>
          <input type="text" name="name" placeholder="Victoria Pendleton">
          <label>Your Email</label>
          <input type="email" name="email" placeholder="victoria@cycling.org.uk">
        </fieldset>
        <fieldset class="last">
          <label>What's the campaign?</label>
          <input type="text" name="campaign" placeholder="London Cycling Campaign">
          <label>Campaign Website</label>
          <input type="text" name="campaign-website" placeholder="London Cycling Campaign">
        </fieldset>
        <label>What would you like to collect?</label>
        <textarea name="collection" placeholder="I'd like to collect bicycle journey's in Lewisham"></textarea>
        <button type="submit">Send Form</button>
      </form>
      </div>
    </div>
  </section>
</article>