---
title: Junior Doctors Sleep
color: fg-blue
---
<article class="collection junior-doctors">
	<section class="hero">
    <div class="grid-container">
    	<div class="row">
	      <div class="col-2">
	      	<div class="statistic-holder">
	      		<h4>Participants</h4>
	      		<h1>35<span>/50</span></h1>
	      	</div>
	      	<div class="statistic-holder">
	      		<h4>Live since</h4>
	      		<h1>17.04.2016</h1>
	      	</div>
	      	<div class="statistic-holder">
	      		<h4>Open To</h4>
	      		<h3>Junior Doctors</h3>
	      	</div>
	      </div>
	      <div class="col-1 shift-1">
	      	<div class="graph-holder">
		      	<h4>3h Sleep</h4>
		      	<ul class="graph">
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      	</ul>
	      		<h4>11th April</h4>
	      	</div>
	      </div>
	      <div class="col-1">
	      	<div class="graph-holder">
		      	<h4>2.5h Sleep</h4>
		      	<ul class="graph">
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      	</ul>
	      		<h4>12th April</h4>
	      	</div>
	      </div>
	      <div class="col-1">
	      	<div class="graph-holder">
		      	<h4>4.5h Sleep</h4>
		      	<ul class="graph">
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      	</ul>
	      		<h4>13th April</h4>
	      	</div>
	      </div>
	      <div class="col-1">
	      	<div class="graph-holder">
		      	<h4>4.5h Sleep</h4>
		      	<ul class="graph">
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      	</ul>
	      		<h4>13th April</h4>
	      	</div>
	      </div>
	      <div class="col-1">
	      	<div class="graph-holder">
		      	<h4>4.5h Sleep</h4>
		      	<ul class="graph">
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      	</ul>
	      		<h4>13th April</h4>
	      	</div>
	      </div>
	      <div class="col-1">
	      	<div class="graph-holder">
		      	<h4>4.5h Sleep</h4>
		      	<ul class="graph">
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      		<li class="active"></li>
		      	</ul>
	      		<h4>13th April</h4>
	      	</div>
	      </div>
	       <div class="shift-1 col-2">
	      	<div class="statistic-holder">
	      		<h4>Participants</h4>
	      		<h1>35<span>/50</span></h1>
	      	</div>
	      	<div class="statistic-holder">
	      		<h4>Live since</h4>
	      		<h1>17.04.2016</h1>
	      	</div>
	      	<div class="statistic-holder">
	      		<h4>Open To</h4>
	      		<h3>Junior Doctors</h3>
	      	</div>
	      </div>
	    </div>
      </div>
    </div>
  </section>
  <section class="writing">
    <div class="grid-container">
      <div class="col-6">
        <h2>We use the information your phone is already collecting about you to fuel a political campaign.</h2>
      </div>
      <div class="col-6">
      <p>We are a research and technology company that helps organisations that do good, think smarter – and make more of a difference. We work across different sectors and with many types of organisation – charities, social businesses and government.</p>
      <p>We are a research and technology company that helps organisations that do good, think smarter – and make more of a difference. We work across different sectors and with many types of organisation – charities, social businesses and government.</p>
      <p>We are a research and technology company that helps organisations that do good, think smarter – and make more of a difference. We work across different sectors and with many types of organisation – charities, social businesses and government.</p>
      <%= link_to 'Read More', '/about' %>
      </div>
    </div>
  </section>
  <section class="gallery">
  	<div class="grid-container">
  		<div class="row">
  			<div class="col-6">
  				<div class="image"></div>
  			</div>
  			<div class="col-6">
  				<div class="image"></div>
  			</div>
  		</div>
  		<div class="row">
  			<div class="col-6">
  				<div class="image"></div>
  			</div>
  			<div class="col-6">
  				<div class="image"></div>
  			</div>
  		</div>
  	</div>
  </section>
  <section class="mail-out">
    <div class="grid-container">
      <div class="row">
        <div class="col-6">
          <h2>Get mail about future collections</h2>
        </div>
        <div class="col-6">
            <form action="//show-not-tell.us13.list-manage.com/subscribe/post?u=67b8136f07a7592b8fe597658&amp;id=4a38ba6576" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_67b8136f07a7592b8fe597658_4a38ba6576" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </form>
        </div>
      </div>
    </div>
  </section>
</article>